<nav class="navbar border-bottom">
<h1><b>Lista de Tarefas</b></h1>
<img class="imagem" src="logo-esig-removebg-preview.png">
</nav>
<div class="container">

  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#taskModal">Criar Tarefa</button>

  <div class="card">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Responsável</th>
        <th>Situação</th>
        <th>Prazo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.titulo }}</td>
        <td>{{ task.responsavel }}</td>
        <td>{{ task.situacao }}</td>
        <td>{{ task.dataConclusao }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editarTask(task.id)"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-danger btn-sm me-2" (click)="removerTask(task.id)"><i class="bi bi-x"></i></button>
          <button class="btn btn-success btn-sm" (click)="concluirTask(task)"><i class="bi bi-x"></i></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>teste de tarefa</td>
        <td>Roberto Bettega</td>
        <td>Em andamento</td>
        <td>31/01/2025</td>
        <td>
          <button class="btn btn-outline-warning btn-sm me-2" (click)="editarTask(task.id)"><i class="bi bi-pencil"></i></button>
          <button class="btn btn-outline-danger btn-sm me-2" (click)="removerTask(task.id)"><i class="bi bi-x"></i></button>
          <button class="btn btn-outline-success btn-sm" (click)="concluirTask(task)"><i class="bi bi-check"></i></button>
          <button class="btn btn-outline-primary btn-sm" (click)="concluirTask(task)"><i class="bi bi-search"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

  <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">{{ task.id ? 'Editar Tarefa' : 'Criar Tarefa' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="titulo" class="form-label">Título</label>
              <input type="text" class="form-control" id="titulo" [(ngModel)]="task.titulo" name="titulo">
            </div>
            <div class="mb-3">
              <label for="responsavel" class="form-label">Descrição</label>
              <textarea type="textarea" class="form-control" id="Descricao" [(ngModel)]="task.descricao"
                name="descricao"></textarea>
            </div>
            <div class="mb-3">
              <label for="responsavel" class="form-label">Responsável</label>
              <input type="text" class="form-control" id="responsavel" [(ngModel)]="task.responsavel"
                name="responsavel">
            </div>
            <div class="row">
              <div class="mb-3 col-auto">
                <label for="responsavel" class="form-label">Prioridade</label>
                <select class="form-select" id="prioridade" [(ngModel)]="task.prioridade" name="prioridade">
                  <option value="BAIXA">Baixa</option>
                  <option value="MEDIA">Média</option>
                  <option value="ALTA">Alta</option>
                </select>
              </div>
              <div class="mb-3 col-auto">
                <label for="situacao" class="form-label">Prazo</label><br>
                <input type="date" class="form-control" id="dataConclusao" name="dataConclusao" [(ngModel)]="task.dataConclusao" min="2025-01-01" max="2050-12-31" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="salvarTask()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>