<div class="container">
    <h1>Lista de Tarefas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Responsável</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas">
          <td>{{ tarefa.id }}</td>
          <td>{{ tarefa.titulo }}</td>
          <td>{{ tarefa.responsavel }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editarTarefa(tarefa.id)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="excluirTarefa(tarefa.id)">Excluir</button>
            <button class="btn btn-success btn-sm" (click)="concluirTarefa(tarefa.id)">Concluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  